body {
    background: lightblue;
    text-align: center;
  
  }
  
  .wrapper{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .circle {
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    margin: 60px auto;
    background: gold;
    color: black;
    border-radius: 50px;
    cursor: pointer;
  }

  #scaleUp {
    animation: scaleUp;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 5s;
    animation-timing-function: ease;
  }
  
  #scaleDown {
    animation: scaleUp;
    animation-iteration-count: infinite;
    animation-direction:reverse;
    animation-duration: 5s;
    animation-timing-function: ease;
  }

  #contRot {
      animation: continuousRotate;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-timing-function: ease-in-out;
      animation-duration: 5s;
  }

  #RotScaleU {
      animation: rotScaleUp;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-timing-function: ease-in-out;
      animation-duration: 5s;
 }

 #flip {
     animation: flip;
     animation-iteration-count: infinite;
     animation-direction: normal;
     animation-timing-function: ease-in-out;
     animation-duration: 5s;
 }
  /*animations*/
  @keyframes scaleUp {
      from {
          transform: translateY(0px);
      }
      to {
          transform: translateY(-75px);
      }
  }



  @keyframes continuousRotate {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  
    @keyframes rotScaleUp {
        from {
            transform: rotate(0deg) scale(1);

        }
        to {
            transform: rotate(180deg) scale(1.5);
        }
    }

    @keyframes flip{
        from {
            transform: rotateY(0deg);
        }
        to {
            transform: rotateY(180deg);
        }
    }